@font-face {
    font-family: 'Noteworthy Light';
    font-style: normal;
    font-weight: normal;
    src: local('Noteworthy Light'), url('Noteworthy-Lt.woff') format('woff');
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container, .row {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.navbar-dark .navbar-nav .nav-link  {
     color: white; 
}

.navbar-dark .navbar-toggler {
    color: white; 
    border-color: white;
}

.section-header {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #4464ad;
}

.dropdown-toggle {
    font-family: 'Noteworthy Light';
    font-size: 90%;
    margin: 10px;
    width: 160px;
    background-color: #4464ad;
    border: none;
    border-radius: 7px;
}

.dropdown-toggle:hover {
    background-color: rgba(152, 186, 221, 0.7);
}

.fa-search {
    margin-left: 20px;
}

input[type=text] {
  width: 150px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */

input[type=text]:focus {
  width: 90vw;
}

input {
    margin: 10px;
    font-family: 'Noteworthy Light';
    border-style: groove;
    border-radius: 5px;
}

#vid-ul li {
    margin-top: 10px;
    margin-left: -40px;
}

p, a {
    font-family: 'Noteworthy Light';
    font-size: 105%;
}

.video-title {
    font-variant: small-caps;
}

ul {
    list-style: none;
}

nav {
    background-color: rgba(152, 186, 221, 0.8);
    width: 100vw;
    list-style: none;
    font-family: 'Noteworthy Light';
    font-weight: bolder;
    font-size: 20px;
}

img {
    z-index: 5;
}

.nav-item {
    padding-left: 15px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    font-size: 22px;
    padding: 5px;
}

form {
    line-height: 50%;
}

#emailInput {
    width: 100%;
}

#messageInput {
    width: 100%;
    margin-left: 10px;
    font-family: 'Noteworthy Light';
}

label {
    font-family: 'Noteworthy Light';
}

.submit-btn {
    margin-bottom: 25px;
    width: 30%;
    background-color: #4464ad;
    font-family: 'Permanent Marker';
    font-variant: small-caps;
    margin-left: 35%;
    color: white;
}

.submit-btn:hover {
    background-color: rgba(152, 186, 221, 0.8);
}

#about {
    background-color: white;
}