@font-face {
    font-family: 'Noteworthy Light';
    font-style: normal;
    font-weight: normal;
    src: local('Noteworthy Light'), url('Noteworthy-Lt.woff') format('woff');
}

body {
    background-image: url("carolina jumprope.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -1;
}

h1, h3 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    
}

main {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40vh;
}

#abouttext {
    background-color: rgba(152, 186, 221, 0.8);
    width: 50%;
    bottom: 10px;
    position: fixed;
    left: 10px;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link  {
     color: white; 
}

.navbar-dark .navbar-toggler {
    color: white; 
    border-color: white;
}

/* header {
    background-color: rgba(152, 186, 221, 0.8);
    width: 100vw;
    text-align: center;
} */

nav {
    background-color: rgba(152, 186, 221, 0.8);
    width: 100vw;
    list-style: none;
    font-family: 'Noteworthy Light';
    font-weight: bolder;
    font-size: 20px;
}

img {
    z-index: 5;
}

.nav-item {
    padding-left: 15px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    font-size: 22px;
    padding: 5px;
}

@media only screen and (max-width: 576px) {
  #abouttext {
    
    width: 100%;
}
}